body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:auto;
    margin: 0;
    font-family: 'VT323', monospace;
}
.main
{
    max-width: 90%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


body,
.snake{
    background-color: #414141;
  
}
#gameBoard{
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20,20px);
    grid-template-rows: repeat(20,20px);
   
    margin: 5px;
}
.game-border1{
    border: black solid 5px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;
}
.game-border2{
    border: #abb78a solid 8px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #abb78a;
}
.game-border3{
    /* border: #8b966c solid 30px; */
    border:black solid 30px;

    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #8b966c;
}
#gameDescription{
    position: absolute;
    top: 68%;
    color: #333;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
}
.scores{
    display: flex;
    justify-content: space-between;
}
#score{
  color: #abb78a;
}
#score,
highScore{
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}
#highScore{
    color: #d8ddca;
    display: none;
}
.game-border3,
#logo
{
    /* background-color: #c4cfa3; */
    background-color: greenyellow;
}
.snake{
    /* border: #5a5a5a 1px solid; */
    border: #5a5a5a 2px solid;
    border-radius: 2px;
}
.food{
    background-color: #dedede;
    border: #999 5px solid;
    /* background-color: red; */
    border-radius: 4px;
    /* border: #999 2px solid; */
}
#logo{
    position: absolute;
}
 .controlButtons{
    display: none;
}

 @media screen and (max-width:650px){
   
    #gameBoard{
        grid-template-columns: repeat(20,12px);
        grid-template-rows: repeat(20,22px);
    }
    .game-border1{
        border: #595f43 solid;
    }
    .game-border3{
        border: #8b966c solid 24px;
        box-shadow: inset 0 0 0 0px black;
    }
    .controlButtons{
        display: block;
        margin-top: 680px;
        margin-left: -21rem;
    }
    #left,
    #up,
    #down,
    #right{
      
        width: 5rem;
        height: 2.5rem;
        border: 2px solid white;
        border-radius: 0.76rem;
        text-transform: capitalize;
        font-size: larger;
        color: white;
        background-color: #414141;
    }
    #start{
        width: 16rem;
        height: 2.5rem;
        margin: 0.2rem 40px;
        color: white;
        background-color: red;
        text-transform: capitalize;
        border: 2px solid white;
        border-radius: 0.76rem;
        font-size: larger;

    }
    body{
        height: 80vh;
        width: auto;
        margin: 0;
        overflow: hidden;
    }
    #gameDescription{
        padding: 5px;
    }
    .snake{
        /* border: #5a5a5a 1px solid; */
        border: #5a5a5a 2px solid;
        border-radius: 0px;
    }
    .food{
        background-color: #dedede;
        border: #999 5px solid;
        /* background-color: red; */
        border-radius: 0px;
        /* border: #999 2px solid; */
    }
 
}
